@page
@model AtmAspRazorApp.Pages.IndexModel
@using ATM_EFCore;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
    <h2 class="display-2">Welcome Bregza</h2>
    <h4 class="display-4">Its @Model.day</h4>
</div>

